* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  position: sticky !important;
  top: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.95); }

a {
  text-decoration: none;
  color: black; }

.logoHeader {
  margin-top: 15px; }

.botonCv {
  width: 80px;
  background-color: #B2FF9E;
  border: black solid 1px;
  border-radius: 10px;
  padding: 8px;
  font-weight: 500;
  transition: all 600ms ease; }
  .botonCv:hover {
    background-color: #AFFC41; }

h2 {
  margin: 70px auto;
  text-decoration: underline; }

.heroPrincipal {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0.3)), url(../img/fondo-codigo.webp);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 15px; }
  .heroPrincipal .botones {
    background-color: #B2FF9E;
    border: black solid 1px;
    border-radius: 10px;
    padding: 8px;
    margin: 25px;
    font-weight: 500;
    transition: all 600ms ease; }
    .heroPrincipal .botones:hover {
      background-color: #AFFC41; }
  .heroPrincipal .contenedorImagen {
    margin: 0 auto; }
  .heroPrincipal .imagenHero {
    max-height: 600px;
    max-width: 300px;
    border: solid black 3px;
    border-radius: 90px;
    align-items: center; }
  .heroPrincipal h1 {
    color: #AFFC41; }
  .heroPrincipal .textoHero {
    color: #B2FF9E;
    font-size: 30px;
    margin-bottom: 40px; }
  .heroPrincipal .contenedorBotones {
    margin: auto; }

.sobreLeo {
  margin-top: 100px; }
  .sobreLeo .textoLeo {
    padding: 0 50px;
    margin-bottom: 80px; }
  .sobreLeo .contenedorInter {
    margin-bottom: 50px; }

.content-all {
  width: 210px;
  margin: auto;
  perspective: 7000px;
  position: relative;
  margin-top: 50px; }

.content-carrousel {
  width: 100%;
  position: absolute;
  animation: rotar 10s infinite linear;
  transform-style: preserve-3d; }
  .content-carrousel figure:nth-child(1) {
    transform: rotateY(0deg) translateZ(200px); }
  .content-carrousel figure:nth-child(2) {
    transform: rotateY(72deg) translateZ(200px); }
  .content-carrousel figure:nth-child(3) {
    transform: rotateY(144deg) translateZ(200px); }
  .content-carrousel figure:nth-child(4) {
    transform: rotateY(216deg) translateZ(200px); }
  .content-carrousel figure:nth-child(5) {
    transform: rotateY(288deg) translateZ(200px); }
  .content-carrousel:hover {
    animation-play-state: paused; }
  .content-carrousel figure {
    width: 90%;
    position: absolute; }
  .content-carrousel img {
    width: 80%;
    transition: all 300ms; }
    .content-carrousel img:hover {
      transform: scale(1.1);
      transition: all 400ms; }

@keyframes rotar {
  from {
    transform: rotateY(0deg); }
  to {
    transform: rotateY(360deg); } }

.queHago {
  margin-bottom: 300px; }
  .queHago p {
    margin-bottom: 50px; }

.misProyectos {
  margin-top: 100px; }

.card {
  border: solid black 0.5px;
  border-radius: 5px; }

.card-body {
  background-color: rgba(178, 255, 158, 0.1);
  border-top: solid black 0.5px;
  border-radius: 5px; }

.logoContacto {
  width: 110px;
  height: 110px;
  padding: 5px; }

.logoContactoG {
  width: 150px;
  height: 100px;
  padding: 5px; }

.pContacto {
  margin: 30px;
  font-weight: bold;
  font-size: 15px; }
