* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 header {
    position: sticky!important;
    top: 0;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.95);
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.logoHeader {
    margin-top: 15px;
}

.botonCv {
    width: 80px;
    background-color: #B2FF9E;
    border: black solid 1px;
    border-radius: 10px;
    padding: 8px;
    font-weight: 500;
    transition: all 600ms ease;


    &:hover {
        background-color: #AFFC41;
    }
}

h2 {
    margin: 50px auto;
}

.heroPrincipal {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0.3)), url(../img/fondo-codigo.webp);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 15px;
    
    .botones {
        background-color: #B2FF9E;
        border: black solid 1px;
        border-radius: 10px;
        padding: 8px;
        margin: 25px;
        font-weight: 500;
        transition: all 600ms ease;
    
    
        &:hover {
            background-color: #AFFC41;
        }
 
    }
    .contenedorImagen {
        margin: 0 auto;
    }
    .imagenHero {
        max-height: 600px;
        max-width: 300px;
        border: solid black 3px;
        border-radius: 90px;
        align-items: center;
    }

    h1 {
        color: #AFFC41;
    }


    .textoHero {
        color: #B2FF9E;
        font-size: 30px;
        margin-bottom: 40px;
    }

    .contenedorBotones {
        margin: auto;
    }
 }

 .sobreLeo {
    margin-top: 100px;
    
       .logoConoc {
        width: 70px;
        height: 70px;
        } 

        .contenedorCono {
            margin-top: 90px;
            margin-bottom: 80px;
        }

        .textoLeo {
            padding: 0 50px;
            margin-bottom: 80px;

        }

        .contenedorInter {
            margin-bottom: 50px;
        }
    }
